<p>Hi friend,</p>

<p>Ruby <%= @version %> has been released. You can read more about it on the official ruby site:</p>

<p><%= link_to @version_url, @version_url %></p>

<p>Have a great day!</p>
<p>~RubyNotifier</p>

<p>This was an automated message from RubyNotifier.org. If you don't want to receieve these notifications you can <%= link_to "unsubscribe",cancel_subscription_url(@cancel_token) %> %>.</p>