html
  font-size: 62.5%

body
  font-family: 'Open Sans', sans-serif
  color: #333
  font-size: 1.4rem

p
  font-size: 1.4rem

h1
  font-size: 2.4rem

h2
  font-size: 2rem

h3
  font-size: 1.8rem

a
  &:link, &:visited
    color: #E0E035
    text-decoration: none

  &:hover, &:active
    text-decoration: underline