<h2>done!</h2>

<p>Thanks! We will notify you at <b><%= @subscription.email %></b> of future Ruby releases.</p>

<p>If you changed your mind, you can <%= link_to "unsubscribe", cancel_subscription_url(@subscription) %>.</p>