<p>Hi!</p>

<p>This is an automated message from RubyNotifier.org. Please confirm that you wish to be notified of future Ruby releases by visiting this URL:</p>

<p><%= link_to confirm_subscription_url(@subscription), confirm_subscription_url(@subscription) %></p>

<p>Thanks for using RubyNotifier!</p>